
.filter-container {
    display: flex;
    margin-top: 45px;
    padding: 0 16px;
}

.filter_text {
    margin-left: 15px;
    cursor: pointer;
}

.filters-content {
    margin-top: 25px;

}
.filterfield {
    margin-left: 15px !important;

}

div.hidden {
    display: none;
}
