.ticket-list-content {
    margin-top: 45px;
    margin-bottom: 65px;
}

.searchbar-container {
    width: 100%;
    border: none !important;
    position: relative;
}

.searchicon {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 21px 21px;
    border: none;
    border-radius: 2px;
    height: 100%;
    outline: 0;
    padding: 0;
    pointer-events: auto;
    position: absolute;
    right: 2%;
    top: 10%;
    z-index: 100;
    color: lightslategray;
}

.mysearchbar {
    background-color: var(--light-primary-color) !important;
    border-radius: 30px !important;
    width: 100% !important;
    border: none !important;
    height: 50px !important;
    box-shadow: 5px 5px 5px rgb(173, 173, 173) !important;
    position: relative !important;
    will-change: auto !important;
}

.mysearchbar:focus {
    outline: none;
}

.addticket-btn-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10%;
}

.addticket-btn {
    width: 200px;
}

.filter-container {
    display: flex;
    margin-top: 45px;
    padding: 0 16px;
}

.filter_text {
    margin-left: 15px;
    cursor: pointer;
}

.filters-content {
    margin-top: 25px;

}

.inputs-container mat-form-field+mat-form-field {
    margin-top: 15px;
    margin-left: 8px;
}

.filterfield {
    margin-left: 15px !important;

}

div.hidden {
    display: none;
}


.spinner {
    width: 30%;
}

.ticketsList {
    margin-top: 5%;
    width: 90%!important;
}

.completed-ticket {
    color: green;
    font-weight: bold;
}

.undone-ticket {
    color: red;
    font-weight: bold;
}

.ticket-assignee {
    font-weight: bold;
}
.ticketsRow{
    box-shadow: 5px 5px 5px rgb(173, 173, 173) !important;
    margin-bottom: 10px;
}
.seebtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91px;
}
.ticketsRow{
    margin-bottom: 40px;
}

/* MEDIA QUERIES */
/* For small phone screens up to 767 pixels wide */
@media screen and (max-width: 767px) {
    .addticket-btn-container {
        display: flex;
        width: 100%;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }
}

/* For larger phone screens from 768 pixels up to 991 pixels wide */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .addticket-btn-container {
        display: flex;
        width: 100%;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }

}

/* For extra small phone screens up to 575 pixels wide */
@media screen and (max-width: 575px) {
    .addticket-btn-container {
        display: flex;
        width: 100%;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }

    .filterfield {
        width: 80%;
    }

}

/* For extra large phone screens from 992 pixels up to 1199 pixels wide */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .addticket-btn-container {
        display: flex;
        width: 100%;
        margin-top: 5%;
        justify-content: center;
        align-items: center;
    }

    .filterfield {
        width: 80%;
    }

}

.mat-toolbar {
    background: none !important;
    color: rgba(0, 0, 0, .87);
}
