/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html,
:root {
    --primary-color: #3f51b5;
    --light-primary-color: #e2e6fc;
    --dark-primary-color: #34449e;
}

body {
    height: 100%;
    color: rgb(51, 51, 51) !important;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    max-width: 1676px !important;
}



.toolbar-header {
    margin-top: 6%;
    margin-bottom: 5%;
}

.mat-toolbar h1 {
    font-size: calc(1.375rem + 1.5vw) !important;
    font-weight: 500;
    line-height: 1.2;
}

.mat-toolbar {
    background: none !important;
    ;
    color: rgba(0, 0, 0, .87);
}

.sidenav-container {
    min-width: 160px;
}

thead {
    background-color: var(--dark-primary-color) !important;
}

thead th {
    color: white !important;
}

.loaderspinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-Btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.homeBtn {
    height: 50px !important;
    width: 50px !important;
}

.homeicon {
    cursor: pointer;
    height: 50px !important;
    width: 50px !important;
    font-size: 50px !important;

}