/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

html,
:root {
    --primary-color: #3f51b5;
    --light-primary-color: #e2e6fc;
    --dark-primary-color: #34449e;
}

body {
    height: 100%;
    color: rgb(51, 51, 51) !important;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fixeToolbar{
    position: fixed;
    z-index: 100;
}
.appContent{
    padding-top: 64px;
}
.appContainer{
    width: 100vw;
}
.container {
    max-width: 1204px !important;
/*    padding-top: 6%;*/
}


.toolbar-header {
    margin-bottom: 5%;
}

.mat-toolbar h1 {
    font-size: calc(1.375rem + 1.5vw) !important;
    font-weight: 500;
    line-height: 1.2;
}

.sidenav-container {
    width: 15%;
}

thead {
    background-color: var(--dark-primary-color) !important;
}

thead th {
    color: white !important;
}

.loaderspinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-Btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.homeBtn {
    height: 50px !important;
    width: 50px !important;
}

.homeicon {
    cursor: pointer;
    height: 50px !important;
    width: 50px !important;
    font-size: 50px !important;
}

.noTicket {
    flex-direction: column;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}


/* MEDIA QUERIES */
/* For small phone screens up to 767 pixels wide */
@media screen and (max-width: 767px) {
    .mobileToolBar {
        display: block;
    }

    .fixed-sidenav-container {
        display: none !important;
    }
}

/* For larger phone screens from 768 pixels up to 991 pixels wide */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .fixed-sidenav-container {
        display: none !important;
    }
}

/* For extra small phone screens up to 575 pixels wide */
@media screen and (max-width: 575px) {
    .fixed-sidenav-container {
        display: none !important;
    }
}

/* For extra large phone screens from 992 pixels up to 1199 pixels wide */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .fixed-sidenav-container {
        display: none !important;
    }
}